/*-----------------------------------
	General Styles
-----------------------------------*/

body{
	font-size : 14px;
	background-color: #f2f6f9;
}

ul{
	list-style-type: none;
}

a:hover {
	text-decoration:none;
}


/*-----------------------------------
	Navbar 
-----------------------------------*/

.minicart{
	background:url(../images/sprite.png);
	background-position: -156px 11px;
	background-repeat:no-repeat;
	width: 40px;
	height: 50px;
	padding-right: 32px;
}

.navbar{
	background-color: #4ea6bc;
	padding: 15px ;
	border-radius: 0;
	margin: 0;
}

.navbar-brand{
	color: #fff;
	font-family: Open Sans, sans-serif;
	padding-left: 32px;
}

.navbar-brand:hover{
	color: #fff;
}

/*-----------------------------------
	Breadcrumb 
-----------------------------------*/

.breadcrumb > .active a{
	color: #468595;
	font-weight: bold;
	text-transform: uppercase;
}

.breadcrumb li a{
	color :#b3d4dc;
	font-weight: bold;
	text-transform: uppercase;
}

.breadcrumb>li+li:before {
	content: "\00BB";
}

.breadcrumb{
	margin-bottom: 100px;
	background-color: #ffffff;
}

.breadcrumbBox{
	background-color: #ffffff;
	height: 100px;
	margin-bottom: 100px;
	padding-top: 32px;
}

/*----------------------------------- 
	Main
-----------------------------------*/

.container.text-center{
	padding: 0 32px;
}

/*-----------------------------------  
	Cart items list
-----------------------------------*/

/* Items */

.sum{	
	color: #f06953;
	font-size :16px;
	font-weight: bold;
	padding-left:25px;
}


.popbtn{
	background-color: #e6edf3;
	margin-left: 25px;
	height: 63px;
	width: 40px;
	padding: 32px 0 0 14px !important;
	float: right;
	cursor: pointer;
}

.arrow{
	width: 0; 
	height: 0; 
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #858e97;
}

/*-----------------------------------  
	Media Queries 
----------------------------------- */

/* Tablet size */

@media (max-width: 992px) {

	.container.text-center{
		padding: 0 15px;
	}

	.breadcrumb{
		margin-bottom: 32px;
	}

	.bigcart{
		margin: 0 auto 40px auto;
	}

	.col-md-5.col-sm-12 h1{
		text-align: center;
	}

	.col-md-5.col-sm-12 p{
		margin: 0 auto 64px auto;
		text-align: justify;
	}

	.col-md-7.col-sm-12{
		padding-left: 10px ;
		padding-right: 50px;
	}

	.totals{
		box-shadow: 0 0 0;
	}

}


/* Mobile device size */

@media (max-width: 768px) {

	.navbar{ 
		padding:10px 0;
	}
	
	.minicart{
		margin-right: -1px;
		padding-right: 0;
	}

	.navbar-brand{
		padding-left: 0;
	}

	.breadcrumbBox{
		height:80px;
		padding-top:21px;
	}

	.col-md-5.col-sm-12 p{
		max-width: 300px;
	}

	.col-md-7.col-sm-12{
		padding-left: 0;
		padding-right: 15px;
		margin-bottom: 32px;
	}

	.col-md-7.col-sm-12 ul{
		padding-left: 15px ;
	}

	.columnCaptions span{
		padding: 0 21px 0 0;
	}

	.columnCaptions span:last-child{
		float: right;
		padding-right: 42px;
	}

	.row{
		padding-bottom:10px;
	}

	.quantity{	
		width: 23px;
		padding-right: 40px !important;
	}

	.price{	
		position: absolute;
		right: 42px;
	}

	.itemTotal{	
		position: absolute;
		right: 42px;
	}

	.popbtn{
		background-color: white;
		position: absolute;
		height:40px;
		right: 0;
	}

	.totals{
		padding: 0;
	}

	.totals .price{
		position: static;
	}

	/* Change Bootstrap's default popover to make it look nice on a mobile device */

	.popover.bottom>.arrow{
		left: auto;
		margin-left: 0;
		right: 5px;
	}

	.popover.bottom{
		margin-top: 7px;
		margin-left: -40px;
	}

	.row span{
		margin-top: 10px;
		color: #f06953;
		font-size :16px;
		font-weight: bold;
	}
}