<!DOCTYPE html>
<html ng-app="app">
	<head>
		<title>Carrinho de Compras</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="assets/css/custom.css"/>
		<style>
			.btn-salvar{
				margin-top: 15px
			}
		</style>	
	</head>

	<body ng-controller="ProdutoController as vm">
		
		
		<nav class="navbar">
			<div class="container">
				<a class="navbar-brand" href="#">Carrinho de Compras</a>
				<div class="navbar-right">
					<div class="container minicart"></div>
				</div>
			</div>
		</nav>
		
		<div class="container-fluid breadcrumbBox text-center">
			<form>
				<div class="form-row">
				  <div class="form-group col-md-3">
					<label for="produto">Produto</label>
					<input ng-model="vm.registro.descricao" type="text" class="form-control" id="produto">
				  </div>
				  <div class="form-group col-md-3">
					<label for="quantidade">Quantidade</label>
					<input ng-model="vm.registro.quantidade" type="number" class="form-control" id="quantidade">
				  </div>
				  <div class="form-group col-md-3">
					<label for="preco">Preço</label>
					<input ng-model="vm.registro.preco" type="number" class="form-control" id="preco">
				  </div>

				  <div class="form-group col-md-3 btn-salvar">
				  	<button ng-click="vm.salvar()" type="button" class="btn btn-primary btn-lg btn-block">Salvar Item</button>
					</div>
				</div>
		</div>
		
		<div class="container text-center">

			<div class="col-md-5 col-sm-12">
				<div class="bigcart"></div>
				<h1>Seu Carrinho de Compras</h1>
			</div>
			
			<div class="col-md-7 col-sm-12 text-left">
				<ul>
					<li class="row list-inline columnCaptions">
						<span>QTY</span>
						<span>ITEM</span>
						<span>Price</span>
					</li>
					<li class="row" ng-repeat="produto in vm.registros | orderBy:'id'">
						<span class="quantity">1</span>
						<span class="itemName">Birthday Cake</span>
						<span class="popbtn"><a class="arrow"></a></span>
						<span class="price">$49.95</span>
					</li>
			
				</ul>
			</div>
		</div>
		
		<!-- The popover content -->

		<div id="popover" style="display: none">
			<a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
			<a href="#"><span class="glyphicon glyphicon-remove"></span></a>
		</div>

		<!-- JavaScript includes -->
		<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script> 
		<script src="assets/js/angular.js"></script>
		<script src="https://unpkg.com/@uirouter/angularjs/release/angular-ui-router.min.js"></script>
		<script src="assets/js/bootstrap.min.js"></script>
		<script src="assets/js/customjs.js"></script>

		<script src="app/module.js"></script>
		<script src="app/produto.controller.js"></script>
		<script src="app/produto.service.js"></script>
		
	</body>
</html>